.vscode
.env
.env/
__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info/
dist/
build/
*.egg
*.whl
*.DS_Store
*.coverage
*.mypy_cache/
*.pytest_cache/
*.ipynb_checkpoints/
*.idea/